{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <a href="{{asset.url}}" target="_blank" rel="noopener noreferrer">{{asset.title}}</a>
    </div>
    <div class="row">
        <div class="col-sm">
            <form method="POST" action="{{url_for('main.skip_link', link_id=asset.id)}}">
                <input type="submit" class="btn btn-primary" value="Skip">
            </form>
        </div>
        <div class="col-sm">
            <form method="POST" action="{{url_for('main.read_link', link_id=asset.id)}}">
                <input type="submit" class="btn btn-secondary" value="Complete">
            </form>
        </div>
        <div class="col-sm">

            <a class="btn btn-success" href="{{asset.url}}" target="_blank" rel="noopener noreferrer" role="button">Read</a>
        </div>
    </div>
</div>
</div>

{% endblock %}
